body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Button {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.Button:hover {
  background: black;
  color: white;
}

.Header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}
.Header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 15px;
}
.Header-links a {
  text-decoration: none;
  color: black;
}

.Hero {
  position: relative;
  margin-bottom: 35px;
  color: white;
}
.Hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}
.Hero-content {
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 80%;
  transform: translateY(-50%);
}
.Hero-content p {
  font-size: 1.2rem;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main h2 {
  height: auto;
  margin: 0;
}

.FirstLevelFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.FirstLevelFilters-category {
  display: flex;
  align-items: center;
  gap: 15px;
}
.FirstLevelFilters-category select {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 20px;
}
.FirstLevelFilters-searchBar {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 20px;
  width: 130px;
  transition: all 0.3s;
}
.FirstLevelFilters-searchBar:hover {
  width: 145px;
}
.FirstLevelFilters-searchBar:focus {
  outline: none;
  width: 190px;
  border-color: cadetblue;
}

.SecondLevelFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.SecondLevelFilters input {
  display: none;
}
.SecondLevelFilters label {
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 0.3s;
}
.SecondLevelFilters input:checked + label {
  background: black;
  color: white;
}

.Products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.Products-product {
  cursor: pointer;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  transition: all 0.25s;
}
.Products-product img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.Products-productBody {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.Products-productBody p,
.Products-productBody h3,
.Products-productBody h4 {
  margin: 0;
}
.Products-product:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: scale(1.02);
}

.Overlay {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  padding: 10px;
  max-width: 800px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  background: rgba(210, 233, 233, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(210, 233, 233, 0.16);
}
.Modal-image {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.Modal-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 769px) {
  .Modal {
    flex-direction: row;
    gap: 20px;
  }
  .Modal-image {
    width: 50%;
    height: auto;
  }
  .Modal-productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px 0;
  }
  .Modal-productDetails h2 {
    margin: 0;
  }
}

/*# sourceMappingURL=index.css.map */
