body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Button {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background: black;
    color: white;
  }
}

.Header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 15px;

    #cart {
      position: relative;
      cursor: pointer;

      .CartCounter.active {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
      }
    }
  }

  &-links {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.Hero {
  position: relative;
  margin-bottom: 35px;
  color: white;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
  }

  &-content {
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);

    p {
      font-size: 1.2rem;
    }
  }
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    height: auto;
    margin: 0;
  }
}

.FirstLevelFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;

  &-category {
    display: flex;
    align-items: center;
    gap: 15px;
    select {
      padding: 8px 12px;
      border: 1px solid black;
      border-radius: 20px;
    }
  }

  &-searchBar {
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 20px;
    width: 130px;
    transition: all 0.3s;

    &:hover {
      width: 145px;
    }

    &:focus {
      outline: none;
      width: 190px;
      border-color: cadetblue;
    }
  }
}

.SecondLevelFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  input {
    display: none;
  }
  label {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.3s;
  }

  input:checked + label {
    background: black;
    color: white;
  }
}

.Products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  &-product {
    cursor: pointer;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;

    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    &Body {
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;

      p,
      h3,
      h4 {
        margin: 0;
      }
    }

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transform: scale(1.02);
    }
  }
}

.Overlay {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductModal {
  padding: 10px;
  max-width: 800px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  background: rgba(210, 233, 233, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(210, 233, 233, 0.16);

  &-image {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  &-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.CartModal {
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin-top: 0;
  }

  .item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

    &-list {
      list-style-type: none;
      padding: 0;
    }

    &-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 5px;
    }

    &-quantity {
      display: flex;
      align-items: center;

      label {
        margin-right: 5px;
      }
    }
  }

  .remove-button {
    background-color: #ff5c5c;
    border: none;
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .checkout-button {
    background-color: #4caf50;
    border: none;
  }

  .checkout-button:hover,
  .remove-button:hover {
    opacity: 0.8;
    color: black;
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
  }
}

.AuthModal {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      background-color: #428bca;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: darken(#428bca, 10%);
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .ProductModal {
    flex-direction: row;
    gap: 20px;

    &-image {
      width: 50%;
      height: auto;
    }

    &-productDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      padding: 15px 0;

      h2 {
        margin: 0;
      }
    }
  }
}
